%description-12 {
	font-size: max(12px, 1.2rem);
	font-weight: 400;
}

%description-14 {
	font-size: max(12px, 1.4rem);
	font-weight: 400;
}

%description-16 {
	font-size: max(14px, 1.6rem);
	font-weight: 500;
}

%description-20 {
	font-size: max(16px, 2rem);
	font-weight: 500;
}

%description-28 {
	font-size: max(20px, 2.8rem);
	font-weight: 500;
}

%description-33 {
	font-size: max(28px, 3.3rem);
	font-weight: 500;
}

%header-85 {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 700;
	font-size: 8.5rem;
}

%header-70 {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 700;
	font-size: 7rem;
}

%header-35 {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 600;
	font-size: 3.5rem;
}

%header-48 {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 700;
	font-size: 4.8rem;
}
